<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<link rel='stylesheet' type='text/css' href='../../static/styles.css'>
<title>Szczegóły zlecenia</title>
</head>
<body>
<div id='section_4' class='section'>
<h2>Szczegóły zlecenia</h2>
<form method="post" enctype="multipart/form-data">
<fieldset class='form-group'><legend>Czy zidentyfikowano potwora (wybrać jedno)*:</legend>
<div><input type='radio' name='Czy zidentyfikowano potwora (wybrać jedno)' value='Tak' required> Tak</div>
<div><input type='radio' name='Czy zidentyfikowano potwora (wybrać jedno)' value='Nie' required> Nie</div>
</fieldset>
<div class='form-group'><label>Obszar działania*:</label><input type='text' name='Obszar działania' required></div>
<div class='form-group'><label>Dotychczasowe ofiary:</label><input type='text' name='Dotychczasowe ofiary' ></div>
<div class='form-group'><label>Informacje dodatkowe:</label><input type='text' name='Informacje dodatkowe' ></div>
<button type='submit'>Wyślij</button>
</form>
</div>
</body>
</html>