<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<link rel='stylesheet' type='text/css' href='../../static/styles.css'>
<title>Zapłata</title>
</head>
<body>
<div id='section_6' class='section'>
<h2>Zapłata</h2>
<form method="post" enctype="multipart/form-data">
<div class='form-group'><label>Kwota zlecenia (w orenach, florenach bądź innej walucie)*:</label><input type='text' name='Kwota zlecenia (w orenach, florenach bądź innej walucie)' required></div>
<div class='form-group'><label>Zaliczka (opcjonalnie):</label><input type='text' name='Zaliczka (opcjonalnie)' ></div>
<button type='submit'>Wyślij</button>
</form>
</div>
</body>
</html>