<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<link rel='stylesheet' type='text/css' href='../../static/styles.css'>
<title>Dane wiedźmina</title>
</head>
<body>
<div id='section_3' class='section'>
<h2>Dane wiedźmina</h2>
<form method="post" enctype="multipart/form-data">
<div class='form-group'><label>Imię lub przydomek*:</label><input type='text' name='Imię lub przydomek' required></div>
<div class='form-group'><label>Szkoła wiedźmińska*:</label><input type='text' name='Szkoła wiedźmińska' required></div>
<button type='submit'>Wyślij</button>
</form>
</div>
</body>
</html>